absl-py
asttokens
astunparse
attrs
certifi
charset-normalizer
click
comm
configparser
contourpy
cycler
debugpy
decorator
executing
expecttest
filelock
fonttools
fsspec
grpcio
h5py
hypothesis
idna
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jupyter_client
jupyter_core
kiwisolver
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mpmath
nest-asyncio
networkx
ninja
numpy
packaging
pandas
pandas-stubs
parso
pexpect
pillow
platformdirs
polars
prompt_toolkit
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pybind11
Pygments
pyparsing
python-dateutil
pytz
PyYAML
pyzmq
requests
rich
scipy
seaborn
setuptools
six
skimpy
sortedcontainers
stack-data
sympy
tensorboard
tensorboard-data-server
torch
torchvision
tornado
traitlets
triton
typeguard
types-dataclasses
types-pytz
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
wheel
h5py